#app {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: #f4f9fc;
}
.loaded {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: loadspin 2s linear infinite;
}
#loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.header {
  height: 85px;
  position: fixed;
  z-index: 1001;
}
.header__navbar {
  display: flex;
  justify-content: flex-end;
  height: 85px;
}
.logo-tagname {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 85px;
}
.logo-tagname__img{
  width: 100%;
  height: 100%;
  margin-top: 33px;
}
.logo-tagname__img:hover {
  /* transition: opacity 0.6s ease-out, transform 0.6s ease-out; */
  animation: scaleUp 0.6s ease-out forwards;
  cursor: pointer;
}
.header__list {
  list-style: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
.header__list-item {
  display: inline-block;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: #0f1b61;
}
.header__list-item::after {
  content: '';
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: var(--indigo);
}

.header__list-item:hover::after {
  animation: underline-expand 0.3s forwards ease-out
}
.header__list-item:not(:hover)::after {
  animation: underline-close 0.3s forwards ease-out;

}
.description {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.description__text {
  font-size: 50px;
  margin-bottom: 0;
  font-weight: 400;
  color: #0f1b61;
  margin-left: 100px;
}
.description__sub {
  height: 70px; /* Đặt chiều cao phù hợp với kích thước phông chữ */
  overflow: hidden;
  width: 100%; /* Đặt chiều rộng là 100% */
  position: relative; /* Đặt vị trí tương đối cho con trỏ */
  display: flex;
  margin-left: 100px;
}

.description__sub-text {
  font-size: 25px; /* Kích thước phông chữ */
  color: #0f1b61;
  white-space: nowrap;
  overflow: hidden;
  border-right: 5px solid var(--indigo); /* Con trỏ nhấp nháy */
  animation: typing 3s steps(34, end), blink-caret 0.75s step-end infinite alternate-reverse;
  position: absolute; /* Đặt vị trí tuyệt đối */
  top: 50%; /* Căn giữa theo chiều dọc */
  font-size: monospace;
}
.page-scroll {
  position: absolute;
  bottom: 50px;
  left: 25%;
  font-size: 16px;
  font-weight: 300;
}
.page-scroll::after {
  height: 150px;
  width: 1px;
  background-color: #000000;
  content: "";
  position: absolute;
  margin-left: 10px;
}
.page-scroll span {
  display: inline-block;
}
.page-scroll.animateBounce span{
  animation: bounce 1s forwards;
}

.page-scroll.animateBounce span:nth-child(1) { animation-delay: 0.1s; }
.page-scroll.animateBounce span:nth-child(2) { animation-delay: 0.2s; }
.page-scroll.animateBounce span:nth-child(3) { animation-delay: 0.3s; }
.page-scroll.animateBounce span:nth-child(4) { animation-delay: 0.4s; }
.page-scroll.animateBounce span:nth-child(5) { animation-delay: 0.5s; }
.page-scroll.animateBounce span:nth-child(6) { animation-delay: 0.6s; }
.circle-description {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 33%;
  right: 10%;
  align-items: center;
}
.description__text-name:hover {
  cursor: pointer;
}
.description__text-name {
  font-weight: 900; font-family: 'Lato';
  font-size: 48px;
  color: var(--indigo);
  margin-left: 100px;

}
.description__image {
  width: 300px;
  height: 300px;
  position: absolute;
  right: 20%;
  top: 25%;
  border-radius: 100%;
  box-shadow: 4px 4px #000;
}
.circle-behide {
  width: 500px;
  height: 250px;
  animation: spin 36s ease-in infinite;
  border: solid 1px var(--indigo);
  box-shadow: -10px -5px var(--indigo) ;
  border-radius: 100%;
  z-index: 0;
}
.circle-behide-2 {
  width: 250px;
  height: 500px;
  animation: spinRe 36s ease-in infinite;
  border: solid 1px var(--indigo);
  box-shadow: -10px -5px var(--indigo) ;
  border-radius: 100%;
  z-index: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 110px;
}
.about__container {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}
.about__title {
  font-size: 50px;
  display: flex;
  justify-content: center;
  color: var(--indigo);
  font-weight: bold;
  -webkit-background-clip: text;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
  animation: text-animate 3s ease-in-out infinite;
  z-index: 1000;
}
.about__title-img {
  height: 300px;
  width: 300px;
  position: absolute ;
  z-index: -1;
  top: 60px;
}
.about__title.show-animate {
  animation: slideinleft 0.5s ease-in;
}

.about__description {
  font-size: 18px;
}

.about__description.show-animate {
  animation: slideinright 0.8s ease-in;
}

.projects__container {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}
.projects__title {
  font-size: 48px;
  display: flex;
  justify-content: center;
  color: var(--indigo);
  font-weight: bold;
  -webkit-background-clip: text;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
  animation: text-animate 3s ease-in-out infinite;
}
.projects__description {
  font-size: 18px;
}
.projects__title-img {
  height: 300px;
  width: 300px;
  position: absolute ;
  z-index: -1;
  top: 60px;
}
.projects_title.show-animate {
  animation: slideinleft 0.5s ease-in;
}

.projects__description.show-animate {
  animation: slideinright 0.6s ease-in;
}
.contact__container {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}
.contact__title {
  font-size: 50px;
  display: flex;
  justify-content: center;
  color: var(--indigo);
  flex: 1;
}
.contact__title.show-animate {
  animation: slideinleft 0.5s ease-in;
}
.social-links {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  width: 50%;
  height: 150px;
}
.social-link__link {
  vertical-align: middle;
  display: block;
  text-indent: -999px;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 100%;
  cursor: pointer;
}
.social-link__link:hover {
  animation: scaleUp 0.6s ease-in;
}
.social-link__link-FB {
  background-image: url(../img/facebook.png);
}
.social-link__link-mail {
  background-image: url(../img/envelope.png);
}
.social-link__link-GH {
  background-image: url(../img/github.png);
}
.social-link__link-ln {
  background-image: url(../img/linkedin.png);
  }
.social-link__item span {
  font-size: 18px;
  margin-left: 10px;
}
.social-link__item {
  display: flex;
}

