@media (max-width: 600px) {

  .logo-tagname {
    display: none;
  }
  .header__navbar {
    display: flex;
    width: 40vh;
    justify-content: space-between;
  }
  .description__sub-text {
    animation: blink-caret 0.75s step-end infinite alternate-reverse;;
  }
  .description__text {
    margin-top: 250px;
  }
  .description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100px;
  }
  .circle-behide, .circle-behide-2 {
    display: none;
  }
  .page-scroll {
    left: 33%;
  }
  .about__description, .projects__description {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
  }
  .about__description.show-animate, .projects__description.show-animate {
    animation: none;
  }
  .projects__title {
    margin-left: 60px;
  }
  .about__title {
    margin-left: 30px;
  }
  .social-link__item span {
    display: none;
  }
  .social-link__link {
    height: 36px;
    width: 36px;
  }
  .about__title-img, .projects__title-img {
    display: none;
  }

  .description__image {
    height: 200px;
    width: 200px;
    position: absolute;
    left: 25%;
  }
  .description__text-name {
    display: flex;
    
  }
}
/* iPad Portrait */


/* iPad Landscape */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  body {
    font-size: 17px;
  }
  .description, .about__container, .projects__container {
    height: 60vh;
  }
  .description__image {
    width: 400px;
    height: 400px;
  }
  .description__text, .description__text-name {
    font-size: 36px;
    padding: 0 0;
    margin-left: -5px;
  }
  .description__sub {
    font: 24px;
    margin-left: -10px;
  }
  .description__image {
    top: 17%;
    right: 10%;
  }
}